.container {
  .container-fixed();

  @media (min-width: @screen-sm-min) { max-width: @container-sm; }
  @media (min-width: @screen-md-min) { max-width: @container-md; }
  @media (min-width: @screen-lg-min) { max-width: @container-lg; }
}

.container-fluid { .container-fixed(); }

.row { .make-row(); }

.make-grid-columns();

.make-grid(xs);

@media (min-width: @screen-sm-min) { .make-grid(sm); }

@media (min-width: @screen-md-min) { .make-grid(md); }

@media (min-width: @screen-lg-min) { .make-grid(lg); }
