@import 'bootstrap';

/* tags */
body { .container(); }

font {
  color: inherit;
  font: inherit;
}

/* layout */
#headerImage {
  overflow: hidden;

  .headerImg {
    height: auto;
    width: auto;
  }
}

.headerwrapperdiv {
  .clearfix();
  margin-bottom: (@line-height-computed / 2);

  p { .sr-only(); }

  table, tbody, tr, td { display: inline; }

  .bgtabon, .bgtaboff { .hidden(); }

  .headerlinksdiv {
    margin-bottom: (@line-height-computed / 2);

    table table tr:first-child {
      .nav();
      display: block;

      > td {
        display: block;
        height: auto;
        margin-top: 2px;
        position: relative;

        > a {
          background: @component-active-bg;
          border-radius: @border-radius-base;
          color: @component-active-color;
          display: block;
          padding: @nav-link-padding;
          position: relative;

          &:focus, &:hover {
            background-color: @brand-secondary;
            text-decoration: none;
          }
        }

        &.disabled > a {
          color: @nav-disabled-link-color;

          &:focus, &:hover {
            background-color: transparent;
            cursor: not-allowed;
            color: @nav-disabled-link-hover-color;
            text-decoration: none;
          }
        }
      }
    }

    & + table {
      .headerlinksdiv2 { .pull-left(); }

      .pageheaderlinks {
        .pull-right();
        color: transparent;
        line-height: (@line-height-computed + 8);
      }
    }
  }
}

.pagebodydiv, .pagefooterdiv {
  border-top: 2px solid @gray-light;
  padding-top: (@line-height-computed / 2);
}

.banner_copyright {
  .text-right();

  br { .hidden(); }
  h5 { margin: 0; }
}

/* content classes */
.pagebodydiv {
  .bordertable, .datadisplaytable, .dataentrytable {
    .table();

    > caption {
      background: @component-active-bg;
      color: @component-active-color;
      font-weight: bold;
      padding: @table-cell-padding;
    }
  }
  .bordertable { .table-bordered(); }

  .plaintable {
    .pldefault {
      padding-left: 0.5em;
      padding-right: 0.5em;
    }
  }
}

/* utilities */
.skiplinks { .sr-only(); }

.centeraligntext { .text-center(); }
.leftaligntext { .text-left(); }
.rightaligntext { .text-right(); }

/* break points */
@media screen and (min-width: @screen-sm-min) {
  .headerwrapperdiv {
    .headerlinksdiv {
      table table tr:first-child {
        .nav-tabs();

        > td {
          float: left;
          margin-bottom: -1px;
          margin-left: 2px;

          > a {
            border-radius: @border-radius-base @border-radius-base 0 0;
          }
        }
      }
    }
  }
}