@brand-primary: #cc0000;
@brand-secondary: #464645;

@screen-xs: 0px;
@screen-sm: 481px;
@screen-md: 769px;
@screen-lg: 1360px;

@container-tablet: 720px;
@container-desktop: 960px;
@container-large-desktop: 1200px;